<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836765846667-saf8bciccg86scqteto3bpe80arti483.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836765846667-saf8bciccg86scqteto3bpe80arti483</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>836765846667-7von0ia8lu7q1mf6b9mammnvl882ogjg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzTDLViv6kFIFqi4uUl20YzzuteIajsvk</string>
	<key>GCM_SENDER_ID</key>
	<string>836765846667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brianmwas.tripoo</string>
	<key>PROJECT_ID</key>
	<string>tripoo-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>tripoo-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836765846667:ios:6f9ae8a75fce5ca4cfd88e</string>
</dict>
</plist>